Plugins>Process, "DoG Filter...", de.uni_heidelberg.cos.agw.ij.DogFilter
Plugins>Process, "Edit Regions...", de.uni_heidelberg.cos.agw.ij.regions.EditRegions
Analyze, "Find Intensity Centers...", de.uni_heidelberg.cos.agw.ij.FindIntensityCenters
Plugins>Process, "Make Isotropic", de.uni_heidelberg.cos.agw.ij.MakeIsotropic
Plugins>Transform, "Map Transform...", de.uni_heidelberg.cos.agw.ij.MapTransform
Image>Stacks, "Orthogonal Project...", de.uni_heidelberg.cos.agw.ij.OrthogonalProject
Plugins>Transform, "Reorder Points...", de.uni_heidelberg.cos.agw.ij.ReorderPoints
Plugins>Process, "3 Point Angle", de.uni_heidelberg.cos.agw.ij.ThreePointAngle
Plugins>Utilities, "Unlock Image", de.uni_heidelberg.cos.agw.ij.UnlockImage
Plugins>Utilities, "Unlock All Images", de.uni_heidelberg.cos.agw.ij.UnlockAllImages