Plugins>Process, "DoG Filter...", de.uni_heidelberg.cos.agw.ij.DogFilter
Plugins>Process, "Edit Regions...", de.uni_heidelberg.cos.agw.ij.regions.EditRegions
Analyze, "Find Intensity Centers...", de.uni_heidelberg.cos.agw.ij.FindIntensityCenters
Image>Type, "Logarithmic 8-bit...", de.uni_heidelberg.cos.agw.ij.Logarithmic8Bit
Plugins>Process, "Make Isotropic", de.uni_heidelberg.cos.agw.ij.MakeIsotropic
Plugins>Transform, "Map Project...", de.uni_heidelberg.cos.agw.ij.mapproject.MapProject
Image>Stacks, "Orthogonal Project...", de.uni_heidelberg.cos.agw.ij.OrthogonalProject
Plugins>Utilities, "Unlock Image", de.uni_heidelberg.cos.agw.ij.UnlockImage